section.about {
  padding: 40px;
  padding-right: 0px;
  flex-basis: 450px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition: 150ms ease-in-out;
}

section.about h1 {
  font-size: 1rem;
}

section.about > article {
  padding-bottom: 20px;
}

section.about > article > p {
  padding-bottom: 1rem;
}

/* my mailto link  */

section.about > article a {
  text-decoration: none;
  color: var(--accent-color);
}

section.about > article a:visited {
  color: var(--accent-color);
}

section.about > article a:hover {
  color: var(--focal-color);
}

/* underline for the link */

section.about > article a:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 4px;
  /* text-decoration-thickness: 2px; */
}

/* for narrowed screens */

@media (max-width: 1200px) {
  section.about {
    flex-basis: auto;
    padding: 20px;
    padding-bottom: 60px;
  }
  section.about > article {
    columns: 2;
    column-gap: 10px;
  }
}

/* for mobile screens */

@media (max-width: 640px) {
  section.about > article {
    columns: 1;
    column-gap: unset;
  }
  section.about > article > p {
    padding-bottom: 1rem;
  }
}
