/* footer */

ul.socials {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

ul.socials li {
  display: block;
  height: 24px;
  width: 24px;
}

ul.socials li > a {
  position: relative; /* Добавлено для псевдоэлемента */
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul.socials li > a::after {
  content: "";
  width: 24px;
  height: 24px;
  background: var(--accent-color);
  mask-repeat: no-repeat;
  mask-position: center;
}

ul.socials li > a:focus:hover,
ul.socials li > a:hover {
  border-color: var(--focal-color);
  outline-color: var(--focal-color);
}

ul.socials li > a:hover::after {
  background-color: var(--focal-color);
  border-color: var(--focal-color);
  outline-color: var(--focal-color);
}

ul.socials li > a:focus {
  border-radius: 25%;
  border: 1px solod var(--accent-color);
  outline: 2px solid var(--accent-color);
  /* outline-offset: 1px; */
}

ul.socials li > a[title="Instagram"]::after {
  mask-image: url(./icons/instagram.svg);
}

ul.socials li > a[title="Telegram"]::after {
  mask-image: url(./icons/telegram.svg);
}

ul.socials li > a[title="LinkedIn"]::after {
  mask-image: url(./icons/linkedin.svg);
}

@media (max-width: 1200px) {
  .footer {
    /* width: auto; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .footer {
    display: block;
    width: 100%;
  }
}
