@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;

  --true-black: #000000;
  --black: #1a1a1a;
  --true-white: #ffffff;
  --white: #dadada;
}

[data-theme="light"] {
  --main-color: var(--black);
  --secondary-color: var(--true-white);
  --accent-color: var(--black);
  --focal-color: var(--true-black);
}

[data-theme="dark"] {
  --main-color: var(--white);
  --secondary-color: var(--black);
  --accent-color: var(--white);
  --focal-color: var(--true-white);
}

::selection {
  background-color: var(--accent-color); /* Цвет фона выделенного текста */
  color: var(--secondary-color); /* Цвет текста при выделении */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: 300ms ease-in-out;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 40px;
  color: var(--main-color);
  background-color: var(--secondary-color);
}

h1 {
  padding-bottom: 1rem;
  font-size: 2em;
}

/* for narrowed window */
@media (max-width: 1200px) {
  .App {
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }
}

/* for mobile screens */
@media (max-width: 640px) {
  p {
    font-size: 1rem;
  }
}
