@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;

  --black: #101010;
  --white: #ffffff;
  --lightgray: #c6c6c6;
  --filter-lightgray: invert(83%) sepia(1%) saturate(64%) hue-rotate(315deg)
    brightness(95%) contrast(94%); /* #c6c6c6 */
  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7500%) hue-rotate(1deg) brightness(109%) contrast(107%); /* #ffffff */
}

[data-theme="light"] {
  --main-color: #101010;
  --secondary-color: #ffffff;
  --background-color: #ffffff;
  /* --accent-color: #101010; */
  --accent-color: #0000ff;
  --button-bg-color: #ffffff;
  --button-bg-hover-color: #101010;
  --filter-color: var(--filter-black);
  --filter-secondary-color: var(--filter-lightgray);
  --filter-background-color: var(--filter-white);
}

[data-theme="dark"] {
  --main-color: #e6e6e6;
  --secondary-color: #212121;
  --background-color: #212121;
  --accent-color: var(--lightgray);
  --button-bg-color: #212121;
  --button-bg-hover-color: #e6e6e6;
  --filter-color: var(--filter-white);
  --filter-secondary-color: var(--filter-lightgray);
  --filter-background-color: var(--filter-black);
}

::selection {
  background-color: var(--accent-color); /* Цвет фона выделенного текста */
  color: white; /* Цвет текста при выделении */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 40px;
  color: var(--main-color);
  background-color: var(--background-color);

  transition: 150ms ease-in-out;
}

h1 {
  padding-bottom: 1rem;
  font-size: 2em;
}

/* for narrowed window */
@media (max-width: 1200px) {
  .App {
    flex-direction: column-reverse;
    height: auto;
    gap: 0px;
  }
}

/* for mobile screens */
@media (max-width: 640px) {
  p {
    font-size: 1rem;
  }
}
